In [4]:
# %load fonts.py
#!/usr/bin/env python

# In[ ]:


# matplotlib 한글 폰트 문제 해결
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from matplotlib import rc
import platform 

if platform.system() == 'Darwin':   # Mac 환경 폰트 지정
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    rc('font', family='Malgun Gothic')
    
plt.rc('axes', unicode_minus=False)

In [17]:
df = pd.read_excel("./data/시도별 전출입 인구수.xlsx")
df = df.fillna(method = "ffill")

mask = (df["전출지별"] == "서울특별시") & (df["전입지별"] !="서울특별시")
df_seoul = df[mask]
df_seoul.drop(["전출지별"], axis = 1,inplace = True)
df_seoul

#충청남도 경상북도 강원도


# df_seoul.set_index("전입지별")
# df_seoul
# col_years = list(map(str, range(1970,2018)))
# df_3 = df_seoul.loc[["충청남도","경상북도","강원도"],col_years]

# plt.style.use("ggplot")

# fig = plt.figure(figsize = (20,5))
# ax =

C:\Users\HPE\AppData\Local\Temp\ipykernel_4816\3082687150.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_seoul.drop(["전출지별"], axis = 1,inplace = True)

,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
19,전국,1448985,1419016,1210559,1647268,1819660,2937093,2495620,2678007,3028911,...,2083352,1925452,1848038,1834806,1658928,1620640,1661425,1726687,1655859,1571423
21,부산광역시,11568,11130,11768,16307,22220,27515,23732,27213,29856,...,17353,17738,17418,18816,16135,16153,17320,17009,15062,14484
22,대구광역시,-,-,-,-,-,-,-,-,-,...,9720,10464,10277,10397,10135,10631,10062,10191,9623,8891
23,인천광역시,-,-,-,-,-,-,-,-,-,...,50493,45392,46082,51641,49640,47424,43212,44915,43745,40485
24,광주광역시,-,-,-,-,-,-,-,-,-,...,10846,11725,11095,10587,10154,9129,9759,9216,8354,7932
25,대전광역시,-,-,-,-,-,-,-,-,-,...,13515,13632,13819,13900,14080,13440,13403,13453,12619,11815
26,울산광역시,-,-,-,-,-,-,-,-,-,...,5057,4845,4742,5188,5691,5542,6047,5950,5102,4260
27,세종특별자치시,-,-,-,-,-,-,-,-,-,...,-,-,-,-,2998,2851,6481,7550,5943,5813
28,경기도,130149,150313,93333,143234,149045,253705,202276,207722,237684,...,412408,398282,410735,373771,354135,340801,332785,359337,370760,342433
29,강원도,9352,12885,13561,16481,15479,27837,25927,25415,26700,...,23668,23331,22736,23624,22332,20601,21173,22659,21590,21016
30,충청북도,6700,9457,10853,12617,11786,21073,18029,17478,18420,...,15294,15295,15461,15318,14555,13783,14244,14379,14087,13302
31,충청남도,15954,18943,23406,27139,25509,51205,41447,43993,48091,...,27458,24889,24522,24723,22269,21486,21473,22299,21741,21020
32,전라북도,10814,13192,16583,18642,16647,34411,29835,28444,29676,...,18390,18332,17569,17755,16120,14909,14566,14835,13835,13179
33,전라남도,10513,16755,20157,22160,21314,46610,46251,43430,44624,...,16601,17468,16429,15974,14765,14187,14591,14598,13065,12426
34,경상북도,11868,16459,22073,27531,26902,46177,40376,41155,42940,...,15425,16569,16042,15818,15191,14420,14456,15113,14236,12464
35,경상남도,8409,10001,11263,15193,16771,23150,22400,27393,28697,...,15438,15303,15689,16039,14474,14447,14799,15220,13717,12692
36,제주특별자치도,1039,1325,1617,2456,2261,3440,3623,3551,3937,...,5473,5332,5714,6133,6954,7828,9031,10434,10465,10404